<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
	<title>Burger Input</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger.js"></script>
</head>

<body class="#e1bee7 purple lighten-4">
	{{{ body }}}
</body>

</html>